## Deliverable 2. Create a Customer Travel Destinations Map.

In [38]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [48]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.tail(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
659,659,Chalons-En-Champagne,FR,48.9539,4.3672,60.03,73,100,7.11,overcast clouds
660,660,Stornoway,GB,58.2093,-6.3865,53.92,80,40,10.36,scattered clouds
661,661,Lenger,KZ,42.1830,69.8839,71.04,56,76,4.43,broken clouds
662,662,Lake Havasu City,US,34.4839,-114.3224,86.99,13,0,6.91,clear sky
663,663,Kizema,RU,61.1130,44.8302,30.11,89,65,3.94,broken clouds
664,664,Itarema,BR,-2.9248,-39.9167,84.76,70,87,12.93,overcast clouds
665,665,Yarada,IN,17.6500,83.2667,86.32,84,40,2.30,scattered clouds
666,666,Lubyany,RU,56.0378,51.4000,35.96,63,31,4.65,scattered clouds
667,667,Lewistown,US,40.5992,-77.5714,57.72,85,40,0.00,light rain
668,668,Jardim,BR,-21.4803,-56.1381,91.45,27,17,5.73,few clouds
669,669,Manitouwadge,CA,49.1215,-85.8403,42.62,89,100,11.03,overcast clouds
670,670,Dongobesh,TZ,-4.0667,35.3833,57.51,93,62,8.52,broken clouds
671,671,Yar-Sale,RU,66.8333,70.8333,11.61,90,25,7.23,scattered clouds
672,672,Darhan,MN,49.4867,105.9228,58.03,31,99,4.88,overcast clouds
673,673,Berdigestyakh,RU,62.0989,126.6992,32.86,87,100,9.66,overcast clouds
674,674,Marawi,PH,7.9986,124.2928,69.55,95,94,0.69,overcast clouds
675,675,Nalut,LY,30.3333,10.8500,63.97,49,67,17.45,broken clouds
676,676,Newberry,US,34.2746,-81.6187,81.86,62,45,9.80,scattered clouds
677,677,Saint-Pierre,RE,-21.3393,55.4781,76.68,78,0,3.44,clear sky
678,678,Grindavik,IS,63.8424,-22.4338,43.27,61,0,12.66,clear sky

In [41]:
city_data_df.count()

City_ID            679
City               679
Country            675
Lat                679
Lng                679
Max Temp           679
Humidity           679
Cloudiness         679
Wind Speed         679
Current Weather    679
dtype: int64

In [42]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 86

In [43]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
ideal_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
2,2,Rio De Janeiro,BR,-22.9028,-43.2075,84.00,72,0,4.61,clear sky
7,7,Atuona,PF,-9.8000,-139.0333,78.67,77,58,13.71,broken clouds
8,8,Rikitea,PF,-23.1203,-134.9692,76.41,72,34,5.97,scattered clouds
9,9,Namibe,AO,-15.1961,12.1522,74.14,76,9,15.55,clear sky
10,10,Padang,ID,-0.9492,100.3543,75.25,89,97,2.68,overcast clouds
11,11,Nouadhibou,MR,20.9310,-17.0347,71.58,73,0,21.85,dust
17,17,Port Blair,IN,11.6667,92.7500,83.57,73,57,4.05,broken clouds
25,25,Puerto Ayora,EC,-0.7393,-90.3518,80.56,80,69,7.61,broken clouds
26,26,Gizo,SB,-8.1030,156.8419,81.72,76,100,6.26,overcast clouds
27,27,Vaini,TO,-21.2000,-175.2000,78.96,94,75,9.22,broken clouds

In [49]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.count()

City_ID            222
City               222
Country            220
Lat                222
Lng                222
Max Temp           222
Humidity           222
Cloudiness         222
Wind Speed         222
Current Weather    222
dtype: int64

In [52]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_ideal_df = ideal_cities_df.dropna()

In [53]:
clean_ideal_df.count()

City_ID            220
City               220
Country            220
Lat                220
Lng                220
Max Temp           220
Humidity           220
Cloudiness         220
Wind Speed         220
Current Weather    220
dtype: int64

In [54]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_ideal_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
2,Rio De Janeiro,BR,84.00,clear sky,-22.9028,-43.2075,
7,Atuona,PF,78.67,broken clouds,-9.8000,-139.0333,
8,Rikitea,PF,76.41,scattered clouds,-23.1203,-134.9692,
9,Namibe,AO,74.14,clear sky,-15.1961,12.1522,
10,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,
11,Nouadhibou,MR,71.58,dust,20.9310,-17.0347,
17,Port Blair,IN,83.57,broken clouds,11.6667,92.7500,
25,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,
26,Gizo,SB,81.72,overcast clouds,-8.1030,156.8419,
27,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,

In [56]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [84]:
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
2,Rio De Janeiro,BR,84.00,clear sky,-22.9028,-43.2075,Hotel cruz de ouro
7,Atuona,PF,78.67,broken clouds,-9.8000,-139.0333,Villa Enata
8,Rikitea,PF,76.41,scattered clouds,-23.1203,-134.9692,People ThankYou
9,Namibe,AO,74.14,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
10,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang
11,Nouadhibou,MR,71.58,dust,20.9310,-17.0347,El Medina
17,Port Blair,IN,83.57,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
25,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
26,Gizo,SB,81.72,overcast clouds,-8.1030,156.8419,Imagination Island
27,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [81]:
hotel_df["Hotel Name"].isnull().sum()

0

In [78]:
# 7. Drop the rows where there is no Hotel Name.
# There are clearly missing values, but the .count() and .isnull().sum() functions are not finding them, 
# so I cannot remove them from the DF.

In [80]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [90]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [91]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))